<!doctype html>
<html lang="da">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Index page til præsentation af organisation</title>

    <!-- Link til Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;700&display=swap"
          rel="stylesheet">

    <!-- Link til CSS fil i static directory -->
    <link rel="stylesheet" href="homestyle.css">
</head>

<body>

<!-- sub-branch for test -->

<!-- top menu navigation bar -->
<header class="site-header">
    <nav class="nav" aria-label="Primary">

        <!-- Logo helt til venstre i top menu, der fungerer som link -->
        <a href="/" class="nav-logo">
            <img src="logo placeholder background removed.png" alt="Logo">
        </a>

        <!-- unordered list / bullet list (som bliver horisontal) starter -->
        <ul class="nav-list" role="menubar" aria-label="Main">

            <!-- Fly-out: Hvad er problemet -->
            <li class="nav-item" role="none">
                <a class="nav-link" role="menuitem" aria-haspopup="true" aria-expanded="false" href="/">Hvad er
                    problemet ▾</a>
                <div class="flyout flyout--text" role="dialog" aria-label="Hvad er problemet">
                    <div class="panel">

                        <!-- Tekst i fly-out feltet til: Hvad er problemet
                             Linjer af tekst som er hentet fra HomeInfo object
                             via Spring model interface og Thymeleaf -->
                        <div class="flyout-content" role="document">

                            <b th:text="${Problem.header}">Default header</b>
                            <p th:text="${Problem.line1}">Default body line</p>
                            <p th:text="${Problem.line2}">Default body line</p>
                            <p th:text="${Problem.line3}">Default body line</p>
                            <p th:text="${Problem.line4}">Default body line</p>
                            <p th:text="${Problem.line5}">Default body line</p>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Fly-out: Hvad gør Danmark mod madspild ved det -->
            <li class="nav-item" role="none">
                <a class="nav-link" role="menuitem" aria-haspopup="true" aria-expanded="false" href="/">Hvad gør Danmark
                    mod madspild ved det ▾</a>
                <div class="flyout flyout--text" role="dialog" aria-label="Hvad gør Danmark mod madspild ved det">
                    <div class="panel">

                        <!-- Tekst i fly-out feltet til: Hvad gør Danmark mod madspild ved det
                        Linjer af tekst som er hentet fra HomeInfo object
                        via Spring model interface og Thymeleaf -->

                        <div class="flyout-content" role="document">

                            <h1 th:text="${Solution.header}">Default header</h1>
                            <p th:text="${Solution.line1}">Default body line</p>
                            <p th:text="${Solution.line2}">Default body line</p>
                            <p th:text="${Solution.line3}">Default body line</p>
                            <p th:text="${Solution.line4}">Default body line</p>
                            <p th:text="${Solution.line5}">Default body line</p>
                        </div>
                    </div>
                </div>
            </li>

            <!-- Drop-down: Registrer. Her er background anderledes for at fremhæve
            og derfor skal også hover tekst være anderledes for at den bliver synlig
            det er ordnet med inline style -->
            <li class="nav-item" role="none">
                <a class="nav-link" style="background-color: var(--hover-accent)"
                   role="menuitem" aria-haspopup="true" aria-expanded="false" href="/">Registrer ▾</a>

                <div class="flyout" role="dialog" aria-label="Registrer">
                    <div class="panel">

                        <!-- unordered list / bullet list i drop down -->
                        <ul class="list" role="list">
                            <li><a href="/">Registrer Privat</a></li>
                            <li><a href="/">Registrer Virksomhed</a></li>
                        </ul>
                    </div>
                </div>
            </li>

            <!-- Drop-down: Log ind -->
            <li class="nav-item" role="none">
                <a class="nav-link" role="menuitem" aria-haspopup="true" aria-expanded="false" href="/">Log ind ▾</a>
                <div class="flyout" role="dialog" aria-label="Log ind">
                    <div class="panel">

                        <!-- unordered list / bullet list i drop down -->
                        <ul class="list" role="list">
                            <li><a href="/">Privat</a></li>
                            <li><a href="/">Virksomhed</a></li>
                            <li><a href="/">Admin</a></li>
                        </ul>
                    </div>
                </div>
            </li>

        </ul>
    </nav>
</header>

<!-- Slogan tekst -->
<div class="hero-content">
    <div class="hero-text">
        <h1>Danmark mod madspild</h1>
        <p>Hjælp maden med at nå hele vejen frem til en tallerken</p>
    </div>
</div>



